.App {
  width: 500px;
  margin-right: auto;
  margin-left: auto;

}
.title{
  font-size: 30px;
  margin-right: auto;
  margin-left: 7%;
}
.searchBar{
  width: 450px;
  height: 25px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: 5%;
 
}
.TaskCounter{
  width: 480px; 
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  background: rgb(0, 255, 153);
  margin: 20px;
  padding: 5px;
 
}
.TaskList{
  width: 300px;
  margin: 20px;
  font-family: Arial;
  line-height: 10px;
}
.noTareas{
  width: 480px; 
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  background: rgb(91, 183, 235 );
  margin: 20px;
  padding: 5px;
  
}

.Task{
  width: 475px;
  height: 20px;
  margin: 10px;
  margin-right:auto;
  margin-left: 1%;
  padding: 5px;
  box-shadow: 6px 5px 21px 2px rgba(0,0,0,0.84);
  border-radius: 10px;
  
}
.textTask{
  width: 150px;
}

.buttonTask1{
  display:inline;
  padding-left: 15%;
  padding-right: 1%;
  }
.buttonTask2{
  display:inline;
  padding-right: 1%;
    
  }
input[type=checkbox]:checked + span.textTask{
  text-decoration:line-through;
}


.newToDo{
  width: 450px;
  height: 25px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: 5%;

}

.tasksDone {
  width: 480px; 
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  background: rgb(190, 226, 246 );
  margin: 20px;
  padding: 5px;
}
.OverWork{
  width: 480px; 
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  background: rgb(91, 183, 235 );
  margin: 20px;
  padding: 5px;
 
  
}

.Avatar{
  width: 50px;
  height: 50px;
  border-radius: 2500px;
  text-align: right;
    
  }
.pagesFooter{
  display:flex;
  margin: 2px;
  padding:2px;
}



